@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common shard styles start */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.btn-primary {
  background-color: #ff42a5;
  color: #fff;
  border: none;
  padding: 0.8rem 1.7rem;
  border-radius: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.gradient-color {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.common-title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #0b0223;
}
.common-description {
  font-size: 0.9rem;
  font-weight: 400;
  color: #534c64;
}
.common-card-info {
  font-size: 1rem;
  color: #534c64;
  font-weight: 500;
}
/* common shard styles end */

/* nav related styles start */
nav {
  max-width: 75%;
  margin: 1.6rem auto;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.logo .logo-img {
  width: 3.75rem;
  height: 1.75rem;
}
.logo .logo-text {
  font-size: 2rem;
  font-weight: 700;
  color: #0b0223;
}
.logo .primary-color {
  /* background-image: linear-gradient(360deg, #FF42A5, #FF42A5);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text; */
  color: #ff42a5;
}
nav .menus {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}
nav ul li {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
ul .sub-menu {
  display: flex;
  gap: 1rem;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  align-items: center;
}
.sub-menu li a i {
  font-size: 1.5rem;
}
.sub-menu .icon-color {
  color: red;
}

/* nav related styles end */

/* banner related styles start */
#banner-container {
  display: flex;
}
.banner-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  background-image: url("../images/group1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.banner-text {
  font-size: 2.2rem;
  color: #0b0223;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  font-size: 4.25rem;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-description {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.banner-description-icon {
  color: #f948b2;
}

.buttons {
  display: flex;
  gap: 1rem;
  padding-top: 1.3rem;
}
.btn {
  background-color: #4ec5f7;
}
.banner-image-container {
  width: 50%;
  padding: 3rem;
}
.banner-img {
  width: 81%;
  height: 100%;
}
/* banner related styles end */
/* online games related styles start */
.online-games-container {
  max-width: 75%;
  margin: 5rem auto;
}
.online-games-content {
  text-align: center;
  margin-bottom: 2rem;
}
.online-games-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.card {
}
.card-img {
  width: 100%;
  margin-bottom: 1rem;
}
.card-img:hover {
  border-radius: 0.8rem;
  box-shadow: 2px 3px 4px #ff42a5;
  cursor: pointer;
}
/* online games section related styles end */
/* play instantly section related styles start */
.about-container{
  max-width:75%;
  margin:0 auto;
  display:flex;
  align-items:center;
}
.about-info{
  width:50%;
  text-align:right;
  margin-right:13rem;

}
.about-images{
  width:50%;
  position:relative;
}
.about-img1{
  width:100%;;
}
.about-img2{
  width:50%;
  position:absolute;;
  top:14.5rem;
  left:-5rem;
}

/* play instantly section related styles end */


/* mobile devices media query start*/
@media screen and (max-width: 576px) {
  /* navbar media quary here */
  nav,
  nav ul {
    flex-direction: column;
  }
  nav {
    max-width: 50%;
  }
  nav .logo {
    margin-bottom: 2rem;
  }
  ul .sub-menu {
    margin-top: 2rem;
  }
  /* banner section media quiry here */
  #banner-container {
    flex-direction: column-reverse;
  }
  .banner-container {
    width: 100%;
    padding-left: 0;
  }
  .banner-image-container {
    width: 100%;
  }
  .banner-image-container .banner-img {
    width: 80%;
  }
  /* online games section media query here */
  .online-games-cards {
    grid-template-columns:1fr;
  }
}
/* mobile devices media query end*/

/* teblat devices media query start */
@media screen and (min-width: 576px) and (max-width: 920px) {
  nav,
  nav ul {
    flex-direction: column;
  }
  nav {
    max-width: 30%;
  }
  nav .logo {
    margin-bottom: 2rem;
  }
  ul .sub-menu {
    margin-top: 2rem;
  }
}
/* teblat devices media query end */
