@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* common shard styles start */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.btn-primary {
  background-color: #ff42a5;
  color: #fff;
  border: none;
  padding: 0.8rem 1.7rem;
  border-radius: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.gradient-color {
  background-image: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.common-title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #0b0223;
}
.common-description {
  font-size: 0.9rem;
  font-weight: 400;
  color: #534c64;
}
.common-card-info {
  font-size: 1rem;
  color: #534c64;
  font-weight: 500;
}
/* common shard styles end */

/* nav related styles start */
nav {
  max-width: 75%;
  margin: 1.6rem auto;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  display: flex;
  gap: 0.9rem;
  align-items: center;
}
.logo-img {
  width: 3.75rem;
  height: 1.75rem;
}
.logo-text {
  font-size: 2rem;
  font-weight: 700;
  color: #0b0223;
}
.primary-color {
  /* background-image: linear-gradient(360deg, #FF42A5, #FF42A5);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text; */
  color: #ff42a5;
}
nav .menus {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}
nav ul li {
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}
ul .sub-menu {
  display: flex;
  gap: 1rem;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  align-items: center;
}
.sub-menu li a i {
  font-size: 1.5rem;
}
.sub-menu .icon-color {
  color: red;
}

/* nav related styles end */

/* banner related styles start */
#banner-container {
  display: flex;
}
.banner-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
  background-image: url("../images/group1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.banner-text {
  font-size: 2.2rem;
  color: #0b0223;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title {
  font-size: 4.25rem;
  font-weight: 800;
  text-transform: uppercase;
}

.banner-description {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.banner-description-icon {
  color: #f948b2;
}

.buttons {
  display: flex;
  gap: 1rem;
  padding-top: 1.3rem;
}
.btn {
  background-color: #4ec5f7;
}
.banner-image-container {
  width: 50%;
  padding: 3rem;
}
.banner-img {
  width: 81%;
  height: 100%;
}
/* banner related styles end */
/* online games related styles start */
.online-games-container {
  max-width: 75%;
  margin: 5rem auto;
}
.online-games-content {
  text-align: center;
  margin-bottom: 2rem;
}
.online-games-cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}
.card-play-button {
  position: relative;
}
.play-button-img {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
}
.play-btn {
  color: red;
  position: absolute;
  top: 7rem;
  right: 0rem;
  left: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.card-img {
  width: 100%;
  margin-bottom: 1rem;
}
.card-img:hover {
  border-radius: 0.8rem;
  box-shadow: 2px 3px 4px #ff42a5;
  cursor: pointer;
}
/* online games section related styles end */
/* play instantly section related styles start */
.about-container {
  max-width: 75%;
  margin: 0 auto 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-info {
  width: 50%;
  text-align: right;
  margin-right: 13rem;
}
.about-images {
  width: 50%;
  position: relative;
}
.about-img1 {
  width: 100%;
}
.about-img2 {
  width: 50%;
  position: absolute;
  top: 14.5rem;
  left: -5rem;
}
/* play instantly section related styles end */
/* game items section related styles start */
.game-items-container {
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  max-width: 80%;
  margin: 0 auto;
  padding: 5.5rem;
}
.game-items1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  margin-bottom: 1.2rem;
}
.game-items2 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
.game-item {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.game-item:hover {
  border: 1px solid #ff42a5;
  border-radius: 3rem;
  transition: 1s;
  cursor: pointer;
}
.game-img {
  width: 20%;
}
.game-item-descreption {
  color: #0b0223;
  font-weight: 600;
}
.game-item-descreption:hover {
  color: #ff42a5;
  font-weight: 600;
}
/* game items section related styles end */
/* footer section related styles start */
.footer-container {
  border: 3px solid pink;
  background-color: #0b0223;
  text-align: center;
  padding: 5.5rem 0;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
}
.footer-logo-text {
  color: #ffffff;
}
.footer-content {
  max-width: 50%;
  margin: 2.9rem auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.footer-content h5 {
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: 600;
}
.social-area {
  width: 20%;
  margin: 0 auto 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
}
.fa-brands {
  font-size: 1.6rem;
  color: #ffffff;
  margin: 0 0.7rem;
}
.footer-text {
  width: 45%;
  margin: 0 auto 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.footer-description {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
/* footer section related styles end */

/* mobile devices responsive styles start*/
@media screen and (max-width: 576px) {
  /* navbar responsive styles here */
  nav,
  nav ul,
  .about-container {
    flex-direction: column;
  }
  nav {
    max-width: 50%;
  }
  nav .logo {
    margin-bottom: 2rem;
  }
  ul .sub-menu {
    margin-top: 2rem;
  }
  /* banner section responsive styles here */
  #banner-container {
    flex-direction: column-reverse;
  }
  .banner-container {
    width: 100%;
    padding-left: 0;
  }
  .banner-image-container {
    width: 100%;
  }
  .banner-image-container .banner-img {
    width: 80%;
  }
  /* online games section responsive styles here */
  .online-games-cards {
    grid-template-columns: 1fr;
  }
  /* play instantly section responsive styles here */
  .about-info {
    width: 100%;
    margin-right: 0;
  }
  .about-images {
    width: 100%;
    margin-top: 1rem;
  }
  /* game items section related responsive styles here */
  .game-items-container {
    width: 100%;
  }
  .game-items1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .game-items2 {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer section related responsive styles here */
  .footer-content,
  .social-area {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* mobile devices responsive styles end*/

/* teblat devices responsive styles start */
@media screen and (min-width: 576px) and (max-width: 920px) {
  nav,
  nav ul {
    flex-direction: column;
  }
  nav {
    max-width: 30%;
  }
  nav .logo {
    margin-bottom: 2rem;
  }
  ul .sub-menu {
    margin-top: 2rem;
  }
  /* game items section related responsive styles here */
  .game-items-container {
    width: 100%;
  }
  .game-items1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .game-items2 {
    grid-template-columns: repeat(2, 1fr);
  }
  /* footer section related responsive styles here */
  .footer-content,
  .social-area {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-text {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* teblat devices responsive styles end */
